* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body,
html {
  scroll-behavior: smooth;
  -webkit-scroll-behavior: smooth;
  font-family: "DM Sans";
  background-color: rgb(0, 0, 0);
}

span {
  background-image: linear-gradient(92deg, #e4620b, #f3b93b);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: hue 10s infinite linear;
  -webkit-animation: hue 8s infinite linear;
}

/* Mouse section styling */
.scroll {
  /* border: 1px solid red; */
  padding: 5px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 10%;
}

.mouse-down {
  width: 24px;
  height: 40px;
  border: 2px solid #fff;
  margin: 0 auto;
  border-radius: 50px;
}

.bullet {
  width: 6px;
  height: 6px;
  background: #fff;
  margin: 0 auto;
  border-radius: 100%;
  position: relative;
  -webkit-animation: scrollDownUp 3s infinite;
  animation: scrollDownUp 2s linear infinite;
}
/* end mouse section */

/* Webkit scroll bar*/
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #1f1f1f;
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #999;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* End of Webkit */

header {
  height: 100vh;
  /* border: 2px solid red; */
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0)),
    url("../images/about.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

nav {
  /* border: 1px solid red; */
  display: flex;
  /* align-items: center; */
  padding: 5px 30px;
  justify-content: space-between;
}

.list {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* border: 1px solid green; */
  padding: 10px 2px;
}

.navlist {
  color: white;
  padding: 5px 0;
}

.navicon{
  font-size: 30px;
}

.intro_text {
  color: white;
  padding: 50px 30px;
}

.intro_text h1 {
  font-family: "poppins";
  font-size: 2.5rem;
  line-height: 50px;
}

.intro_p {
  font-size: 12px;
  font-family: "comfortaa";
}

/* project section */
.phead-text {
  color: white;
  text-align: center;
  padding: 20px 0;
  /* border: 1px solid red; */
}

.pro-details {
  padding: 5px;
}

.project-container{
  padding: 10px;
}

.pro-box {
  /* border: 1px solid red; */
  color: white;
  border-radius: 10px;
  overflow: hidden;
  background: rgb(27, 27, 27);
  padding: 10px;
  margin: 15px 1px;
}

.pro-preview img{
  width: 100%;
}

.btn-btn{
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: orangered;
}

.btn-btn:hover{
  background: orangered;
  color: white;
}


/* ======================================= */
/* Contact section */
#contact{
  height: 100vh;
  /* border: 2px solid red; */
}

.chead-text{
  color: white;
  text-align: center;
  /* border: 1px solid red; */
  padding: 55px 20px;
}

.contact-box{
  /* border: 1px solid rgb(27, 23, 23); */
  text-align: center;
  position: relative;
  top: 20%;
}

.contact-box a{
  color: white;
  font-size: 40px;
  padding: 10px 20px;
}

/* ====================================== */
/* Footer section */
footer{
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #0f0f0f;
  padding: 5px 30px;
}
/* ===================================== */

/* Span animation ====================== */
@keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

/* Chrome, Safari, Opera */
@-webkit-keyframes scrollDownUp {
  0% {
    top: 5px;
  }
  50% {
    top: 20px;
  }
  100% {
    top: 5px;
  }
}

/* Standard syntax */
@keyframes scrollDownUp {
  0% {
    top: 5px;
  }
  50% {
    top: 20px;
  }
  100% {
    top: 5px;
  }
}
/* end animations section =============== */
